<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>15_cajero_multidao_securizado</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>    
  </welcome-file-list>
  
  <!-- Politicas de autenticacion de usuarios -->
  <login-config>
  	<auth-method>FORM</auth-method>
  	<form-login-config>
  		<form-login-page>/login.html</form-login-page>
  		<form-error-page>/errorLogin.html</form-error-page>
  	</form-login-config>
  </login-config>
  <security-role>
  	<role-name>usuarios</role-name>
  </security-role>
  <security-role>
  	<role-name>administradores</role-name>
  </security-role>
  
  <!-- Politicas de autorización de acceso a recursos -->
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>lista1</web-resource-name>
  		<url-pattern>/index.html</url-pattern>
  		<url-pattern>/</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>usuarios</role-name>
  	</auth-constraint>
  </security-constraint>
  
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>lista2</web-resource-name>
  		<url-pattern>/administracion.html</url-pattern>  		
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>administradores</role-name>
  	</auth-constraint>
  </security-constraint>
</web-app>